body {
    background:white url('body-bg.jpg');
}
 
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px black(0,0,0,0.2);
    background:black;
}
 
.menu {
    width:1000px;
    margin:0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}
 
.menu a {
    transition:all linear 0.15s;
    color:#3b5998;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px #33cccc(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:black;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px #33cccc(0,0,0,0.2);
    background:white;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#33cccc;
}


.home-box-fifth {
  float: left;
  width: 19%;
  margin: 0 0.5%;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  min-height: 520px;
  padding: 0 0 60px 0;
  position: relative;
  
}










.bg-one {
  background: #444;
}

.bg-two {
  background: #444;
}

.bg-three {
  background: #444;
}

.bg-four {
  background: #444;
}

.bg-five {
  background: #444;
}

.bg-six {
  background: #444;
  opacity: 0.2
}

.hbf-lower-content {
  text-align: center;
}

.hbf-title {
  color: #002c51;
  text-transform: uppercase;
  margin: 30px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
}

.hbf-lblue .hbf-title {
  color: #7ab3d1;
}

.hbf-text {
  color: #81848b;
  padding: 0 20px;
  font-size: 15px;
  line-height: 1.6;
}

.hbf-more a {
  display: inline-block;
  background: #002B51;
  color: #FFF;
  border-radius: 3px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.hbf-lblue .hbf-more a {
  background: #7ab3d1;
}

.hbf-more {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  height: 40px;
}

.hbf-3 .icon-3-bg {
  background: #00ac9f;
}

.hbf-3 .hbf-title {
  color: #00ac9f;
}

.hbf-3 .hbf-more a {
  background: #00ac9f;
}

.hbf-4 .icon-4-bg {
  background: #7eabae;
}

.hbf-4 .hbf-title {
  color: #7eabae;
}

.hbf-4 .hbf-more a {
  background: #7eabae;
}

.hbf-5 .icon-5-bg {
  background: #306fb7;
}

.hbf-5 .hbf-title {
  color: #306fb7;
}

.hbf-5 .hbf-more a {
  background: #306fb7;
}

.large-title {
  color: #00ac9f;
  font-size: 60px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 20px;
}

.hbf-text i {
  line-height: 1.8;
}

.hbf-more a:hover {
  opacity: 0.9;
}

@media (max-width:860px) {
  .home-box-fifth {
    float: none;
    width: 222px;
    max-width: 222px;
    margin-bottom: 10px;
  }
  .home-box-fifth-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}


body4{
     color: #00ac9f;
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  margin-bottom: 20px;
}

body4 {
color:black;
    font-family: verdana;
    font-size: 300%;
    text-align: center;
}
body4{
 
border: 5px solid black;
border-radius: 25px;

}



.carousel-inner {
    width: 100%;
    height: 500px;
}

.container {
    width:1200px;
}

.navbar .nav > li > a {
    float: none;
    text-decoration: none;
    color:  #ddd;
}

.navbar .nav > li > a:hover {
    float: none;
    text-decoration: none;
    background-color:  black;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.Alvi {
    color: white;
    font-size: 15px;
    position: relative;
    left: -2px;
    top:-4px;
}





#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}
header {
	height: 100px;
	padding: 0 15px;
}
#content {
	width: 290px;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 290px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#sidebar {
	width: 290px;
	padding: 5px 15px;
	float: left;
}
footer {
	clear: both;
	padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 41%;
		padding: 1% 4%;
	}
	#middle {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#sidebar {
		width: auto;
		float: none;
	}

}
h1 {
color:white;
    font-family: verdana;
    font-size: 300%;
    text-align: center;
}

p {
text-indent: 0px;
font-size: 150%

}

p.normal {
    font-weight: normal;
}

p.thick {
    font-weight: bold;
}

p.thicker {
    font-weight: 600;
}
p.center {
    text-align: center;
}
body {
    text-align: center;
    font-weight: bold;
}

p1 {
text-indent: 0px;
font-size: 200%

}
p1.thicker {
    font-weight: 900;
}
p1 {
    border-bottom: 6px solid #33cccc;
    background-color: #33cccc;
}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#sidebar {
		display: none;
	}

}


#content {
	background: gray;
}
#sidebar {
	background: gray;

}
#middle {
	background: gray;}
header, #content, #middle, #sidebar {
	margin-bottom: 5px;
}

#pagewrap, header, #content, #middle, #sidebar, footer {
	border: solid 5px black;
}

h2 {
    font-weight: bold;
    color: black
}

body {
    background-image: url("http://www.bestcollegereviews.org/wp-content/uploads/2014/11/harvard-history.jpg");
    background-color:black;
}

class{
    background-image: url("http://footage.framepool.com/shotimg/qf/618827771-literature-school-book-bookshelf-homework.jpg")
}